table {
  margin: auto;
}

td {
  border:1px solid black;
  background-color: darkred;
}

td:hover {
  background-color: red;
}

img {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.4s linear;
}
